body {
    background-image: url("../images/gun_metal.png");
}

.masthead {
    background: black;
    /* text-align: center; */
    color: white;
    height: 50px;
    width: 100%;
}
.container {
    background-image: url("../images/comic_background.jpg");
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid grey;    
    text-align: center;
}
div {
    /* background: grey; */
    color: white;
}
.topspot {
    height: 80px;
}

.wrapper {
    height: 300px;
}
.gameTile {
    background: black;
    color: blue;
    height: 50px;
    border: 1px solid grey;
}
body {
    font-family: sans-serif;
}
.startTile{
    background: black;
    border: 1px solid grey;
    height: 50px;
    }

.blankSide {
    background: black;
}
.blankSpace {
    background: white;
    color: black;
    padding: 8px;
    text-align: center;
   }

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2rem;

}
h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-left: 30px;
    padding: 15px;
}
p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}
.guessCount {
    color: white;
    font-size: 1rem;
}
